header {
  background: #bbbbbb;
  padding: 20px 0;
}
.caixa-cabecalho {
  display: flex;
  width: 940px;
  margin: 125px auto;
}
nav {
  position: absolute;
  right: 180px;
  align-self: center;
}
nav li {
  display: inline;
  margin: 0 0 0 15px;
}
nav a {
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  font-size: 22px;
  text-decoration: none;
}
nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}
.titulo-principal {
  font-size: 30px;
  position: absolute;
  font-weight: bold;
  align-self: center;
}
/*
.principal {
  background: #cccccc;
  padding: 30px;
}
#banner {
  width: 100%;
}
.titulo-centralizado {
  text-align: center;
}
p {
  text-align: center;
}
#missao {
  font-size: 20px;
}
em strong {
  color: #ff0000;
}
.beneficios {
  background: #ffffff;
  padding: 20px;
}
.itens {
  font-style: italic;
}
ul {
  display: inline-block;
  vertical-align: top;
  margin-right: 15%;
  width: 20%;
}
.imagembeneficios {
  width: 50%;
}
*/
